Source: libgami
Priority: extra
Maintainer: Florian Muellner <florian.muellner@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev, libglib2.0-dev
Standards-Version: 3.8.0
Section: libs
Homepage: http://www.asteriskarena.com/

Package: libgami-dev
Section: libdevel
Architecture: any
Depends: libgami-0 (= ${binary:Version})
Description: GObject based interface to the Asterisk manager (development files)
 Libgami is a library that provides a GObject based interface to the manager 
 interface of the Asterisk PBX. It aims at providing a full implementation of 
 the Asterisk manager API integrated nicely with GLib.
 .
 This package contains the development files.

Package: libgami0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GObject based interface to the Asterisk manager
 Libgami is a library that provides a GObject based interface to the manager 
 interface of the Asterisk PBX. It aims at providing a full implementation of 
 the Asterisk manager API integrated nicely with GLib.
 .
 This package contains the shared library.

Package: libgami-doc
Section: doc
Architecture: all
Depends: ${misc:Depends},
         lynx | www-browser
Description: Documentation files for the Libgami library
 Libgami is a library that provides a GObject based interface to the manager 
 interface of the Asterisk PBX. It aims at providing a full implementation of 
 the Asterisk manager API integrated nicely with GLib.
 .
 This package contains the HTML documentation for the Libgami library in 
 /usr/share/gtk-doc/html/libgami
