.*
!.gitignore
*.bak
*.stamp
Makefile
Makefile.in
html/
libgami-decl-list.txt
libgami-decl.txt
libgami-overrides.txt
libgami-undeclared.txt
libgami-undocumented.txt
libgami-unused.txt
libgami.args
libgami.hierarchy
libgami.interfaces
libgami.prerequisites
libgami.signals
tmpl/
version.xml
xml/
